﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-info">Kategori Sayısı = @ViewBag.categoryCount</div>
<div class="alert alert-info">Proje Sayısı = @ViewBag.projectCount</div>
<div class="alert alert-info">Yetenek Sayısı = @ViewBag.skillCount</div>
<div class="alert alert-info">Ortalama Yetenek Puanı = @ViewBag.skillAvgValue</div>
<div class="alert alert-info">Hakkında Sayısı = @ViewBag.AboutCount</div>
<div class="alert alert-info">Son Eklenen Yetenek = @ViewBag.lastSkillTitleName</div>
<div class="alert alert-info">Asp .Net Proje Sayısı = @ViewBag.mvcCategoryProjectCount</div>
<div class="alert alert-info">C++ Proje Sayısı = @ViewBag.cCategoryProjectCount</div>
<div class="alert alert-info">Referans Sayısı = @ViewBag.TestimonialCount</div>
<div class="alert alert-info">Servis Sayısı = @ViewBag.ServiceCount</div>
<div class="alert alert-info">Özellik Sayısı = @ViewBag.FeatureCount</div>